body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imgs/mrbground.png);
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
}

h1 {
    margin-top: 50;
    font-size: 6rem;
    font-weight: 600;
    color: #c7126c;
}

#name {
    margin-top: 50;
    font-size: 4rem;
    font-weight: 600;
    color: #dcec44;
}

.blinking {
    margin-top: 40;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     color: rgb(219, 13, 13);    }
    49%{    color: rgb(255, 4, 242); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #dcec44;   }
}

.link {
    margin-top: 60;
    font-size: 2rem;
    font-weight: 400;
    color: #dcec44;
}

a {
  color: #5c46d8;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

a:hover {
  color: #c7126c;
  right: 0;
  text-decoration: none;
}

a:after {
  border-radius: 1em;
  border-top: .1em solid#c7126c;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
  border-color: #c7126c;
  right: 0;
}

@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}